:root {
  --background-color: #E8F5E2;
  --secondary-color: #608A4D;
  --primary-color:black;
  --button-color: #9BC588;
  --nav-button-color:#C6DBBD;
  --minor-color: #6C7667;
  --name-color:#779469;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  font-family: "Nunito", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

/* Utils */
.hide-mobile {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hide-tablet {
    display: none;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 0 10px;
}

header img {
  width: 10.4rem;
  height: 3.3rem;
}

header svg {
  width: 42px;
}

aside {
  position: fixed;
  height: 100vh;
  z-index: 1;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  width: 40%;
  padding: 3em;
  text-align: right;
  transition: transform 0.6s;
  transform: translateX(100%);
}
aside a {
  color: white;
  font-size: 2.6rem;
}
aside .exit {
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 0.3em;
  cursor: pointer;
}
aside ul {
  margin-top: 6em;
}
aside ul li {
  margin-bottom: 1.5em;
  position: relative;
}
aside ul li a {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5em;
}
aside ul li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: medium solid white;
  width: 50%;
  height: 0;
}
aside button {
  background: var(--nav-button-color);
  color: black;
  width: 90%;
  border-radius: 4px;
  cursor: pointer;
}
aside button .cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}
aside button .cta-content span {
  font-size: 1.8rem;
}
aside button .cta-content svg {
  width: 1.8rem;
  height: 1.8rem;
  padding-left: 0.1em;
}

.toggle-menu {
  transform: translateX(0);
}

/* MAIN SECTION*/
main {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main h1 {
  font-size: 3.2rem;
  text-align: center;
  padding-left: 4.9rem;
  padding-right: 4.9rem;
}
main span {
  font-size: 1.6rem;
}
main .socialref {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .avatars {
  margin-bottom: 4rem;
}
main img {
  border-radius: 50%;
  border: 5px solid white;
  width: 48px;
  height: 48px;
  margin-right: -10px;
}
main img:nth-child(1) {
  border: none;
  width: 43px;
  height: 43px;
}
main .col-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .col-2 {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .col-2 .steps {
  margin-left: 2rem;
  margin-right: 2rem;
}
main .col-2 .steps div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .col-2 .steps div .special-focus {
  color: var(--secondary-color);
  font-size: 2rem;
}
main .col-2 .steps div .number {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 1.45rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
main .col-2 .steps div p {
  margin-top: 15px;
  font-size: 2rem;
  width: 90%;
  text-align: left;
  align-self: left;
}
main .col-2 button {
  background: var(--button-color);
  color: black;
  width: 90%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  margin-bottom: 5rem;
}
main .col-2 button .cta-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}
main .col-2 button .cta-content span {
  font-size: 1.8rem;
}
main .col-2 button .cta-content svg {
  width: 1.8rem;
  height: 1.8rem;
  padding-left: 0.1em;
}

.offers img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* BRANDS SECTION */
.brands {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 32rem;
}
.brands .logoes {
  display: grid;
  width: 80%;
  grid-template-areas: "amazon bestbuy" "shopify walmart";
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 4rem;
  margin-top: 5rem;
}
.brands .logoes img {
  width: 100%;
  height: 3rem;
}
.brands .logoes img:nth-child(1) {
  grid-area: amazon;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.brands .logoes svg:nth-child(2) {
  grid-area: bestbuy;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.brands .logoes img:nth-child(3) {
  grid-area: shopify;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
.brands .logoes img:nth-child(4) {
  grid-area: walmart;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}

.offers {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90rem;
}
.offers .coupons {
  align-self: center;
  margin-bottom: 7.3rem;
}
.offers .coupons .coupon {
  width: 349px;
  height: 204px;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px #000000;
  border-radius: 4px;
  margin-bottom: 18px;
  border-bottom-width: 0;
  padding-bottom: 0;
  position: relative;
}
.offers .coupons .coupon span {
  background: white;
  display: block;
  width: 100%;
  padding: 18px 169px 18px 20px;
  font-size: 1.6rem;
  font-weight: bold;
}
.offers .coupons .coupon .price {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 2.2rem;
  height: 60px;
  width: 94px;
  margin-bottom: -1px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers .coupons .coupon:nth-child(1) {
  margin-top: -10rem;
}
.offers img {
  width: 346px;
  height: 145px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 4px;
  border-bottom: 5px solid black;
}
.offers .view-all {
  display: flex;
  gap: 1.1rem;
}
.offers .view-all svg {
  width: 3.2rem;
}
.offers .view-all span {
  font-size: 2.6rem;
  text-decoration: underline;
}

footer .first {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 38px 33px 73px 33px;
}
footer .first span {
  font-weight: bold;
  font-size: 1.4rem;
}
footer .first .col2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .first .social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
footer .first .social-media img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 1/1;
}
footer .second {
  margin-bottom: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .second ul {
  display: flex;
  gap: 3rem;
  padding-left: 38px;
  padding-right: 38px;
}
footer .second ul li {
  position: relative;
  font-size: 1.8rem;
}
footer .second ul li a {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5em;
}
footer .second ul li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: medium solid black;
  width: 50%;
  height: 0;
}

/* TABLET */
@media screen and (min-width: 768px) {
  header {
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 26px;
  }
  .mainMenu {
    display: inline;
    width: 70%;
  }
  .mainMenu ul {
    width: 100%;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-evenly;
  }
  .mainMenu ul a {
    position: relative;
  }
  .mainMenu ul li:hover a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: medium solid black;
    width: 50%;
    height: 0;
  }
  .mainMenu ul button {
    background: var(--nav-button-color);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #000000;
  }
  .mainMenu ul button .cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 5px;
  }
  .mainMenu ul button .cta-content span {
    font-size: 1.8rem;
  }
  .mainMenu ul button .cta-content svg {
    width: 1.8rem;
    height: 1.8rem;
    padding-left: 0.1em;
  }
  main .col-1 {
    align-items: flex-start;
    padding-left: 97px;
    margin-bottom: 53px;
  }
  main .col-1 h1 {
    text-align: left;
    padding: 0;
  }
  main .col-1 .combine_testimonial {
    display: flex;
    gap: 51px;
  }
  main .col-1 .socialref {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  main .col-1 .socialref .avatars {
    margin: 0;
  }
  main .col-1 .special-testimonial {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 44.5px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 89px;
    width: 309px;
  }
  main .col-1 .special-testimonial img {
    height: 60px;
    width: 60px;
  }
  main .col-1 .special-testimonial .testimonial-msg {
    display: flex;
    flex-direction: column;
  }
  main .col-1 .special-testimonial .testimonial-msg span:nth-child(2) {
    color: var(--name-color);
  }
  main .col-2 {
    padding: 5.8rem 10rem 7.9rem 10rem;
    align-items: flex-start;
    gap: 62px;
  }
  main .col-2 .steps {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    gap: 50px;
  }
  main .col-2 button {
    width: 232px;
    height: 56px;
  }
  .brands {
    height: 27rem;
  }
  .brands .logoes {
    display: grid;
    width: 80%;
    grid-template-areas: "amazon bestbuy shopify walmart";
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .brands .logoes img {
    width: 100%;
    height: 48px;
  }
  .offers {
    background-color: white;
  }
  .offers .coupons .coupon:nth-child(1) {
    margin-top: unset;
  }
  .offers .coupons {
    display: grid;
    place-content: center;
    height: unset;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    -moz-column-gap: 16px;
         column-gap: 16px;
    row-gap: 22px;
    margin-top: -100px;
  }
  .offers .coupons .coupon,
  .offers .coupons .hide-mobile {
    display: inline;
    width: 349px;
    height: 204px;
    border: 2px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 4px;
    margin-bottom: 18px;
    border-bottom-width: 0;
    padding-bottom: 0;
    position: relative;
  }
  .offers .coupons .coupon span,
  .offers .coupons .hide-mobile span {
    background: white;
    display: block;
    width: 100%;
    padding: 18px 169px 18px 20px;
    font-size: 1.6rem;
    font-weight: bold;
    white-space: nowrap;
  }
  .offers .coupons .coupon .price,
  .offers .coupons .hide-mobile .price {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    border: 4px solid #000000;
    font-weight: bold;
    color: white;
    font-size: 2.2rem;
    height: 60px;
    width: 94px;
    margin-bottom: -1px;
    margin-right: -2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .offers img {
    width: 346px;
    height: 145px;
    -o-object-fit: cover;
       object-fit: cover;
    border-bottom-left-radius: 4px;
    border-bottom: 5px solid black;
  }
  .offers .view-all {
    display: flex;
    gap: 1.1rem;
  }
  .offers .view-all svg {
    width: 3.2rem;
  }
  .offers .view-all span {
    font-size: 2.6rem;
    text-decoration: underline;
  }
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .first {
    flex-direction: column;
    gap: 55px;
  }
  footer .second {
    margin-top: 41px;
    gap: 89px;
  }
  footer .second li {
    font-size: 1.8rem;
    line-height: 25px;
  }
  footer .second span {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 60% 40%;
  }
  main .col-1 {
    padding-left: 68px;
    align-items: flex-start;
  }
  main .col-1 h1 {
    font-size: 4.5rem;
    line-height: 61px;
    width: 80%;
  }
  main .col-1 span {
    line-height: 22px;
  }
  main .col-1 .combine_testimonial {
    width: 100%;
    justify-content: flex-start;
    gap: 51px;
  }
  main .col-2 {
    padding: unset;
    border-left: 1px solid black;
    border-top: unset;
    padding-top: 30.1px;
    align-items: center;
    justify-content: center;
  }
  main .col-2 .steps {
    flex-direction: column;
    justify-content: space-evenly;
    gap: unset;
  }
  .brands .logoes {
    grid-template-areas: "amazon bestbuy shopify walmart viewmore";
    grid-template-columns: repeat(5, 1fr);
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .brands .logoes .hide-mobile {
    display: inline;
  }
  .offers {
    background-color: white;
    padding: 0 150px 50px 150px;
    height: auto;
  }
  .offers .view-all {
    align-self: flex-start;
  }
  .offers .coupons {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 31px;
         column-gap: 31px;
    row-gap: 22px;
    margin-top: -100px;
  }
  .offers .coupons .coupon,
  .offers .coupons .hide-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .offers .coupons div {
    width: 100%;
    height: 261px;
  }
  .offers .coupons div img {
    width: 100%;
    height: 147px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .offers .coupons div:nth-child(1) {
    grid-column: 1/3;
    flex-direction: column-reverse;
  }
  .offers .coupons div:nth-child(1) img {
    border-bottom: unset;
    border-top: 2px solid black;
  }
  .offers .coupons div:nth-child(1) span {
    border-bottom: 3px solid black;
    padding-top: 14px;
  }
  .offers .coupons div:nth-child(2) {
    grid-column: 3/4;
  }
  .offers .coupons div:nth-child(3) {
    grid-column: 4/6;
  }
  .offers .coupons div:nth-child(4) {
    grid-column: 1/2;
  }
  .offers .coupons div:nth-child(5) {
    grid-column: 2/4;
    flex-direction: column-reverse;
  }
  .offers .coupons div:nth-child(5) img {
    border-bottom: unset;
    margin-top: 2px;
  }
  .offers .coupons div:nth-child(5) span {
    border-bottom: 3px solid black;
    padding-top: 14px;
  }
  .offers .coupons div:nth-child(6) {
    grid-column: 4/6;
  }
}/*# sourceMappingURL=main.css.map */